.other-grid{
    margin-top: 25px;
    display: grid;
    grid-template-areas: 
    "image-one image-two"
    "image-three image-three"
    "body body";
}  

.other-photo-one{
    grid-area: image-one;
    margin-left:25px;
    margin-right:25px;
    display: flex;
    justify-content: center;
}

.other-photo-two{
    grid-area: image-two;
    margin-left:25px;
    margin-right:25px;
    display: flex;
    justify-content: center;
}

.other-photo-three{
    grid-area: image-three;
    border-bottom: 1px grey solid;
    margin-left:25px;
    margin-right:25px;
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}

.other-text{
    grid-area: body;
    margin-left:25px;
    margin-right:25px;
    margin-top: 25px;
}
