.regional-grid{
    margin-top: 25px;
    display: grid;
    grid-template-areas: 
    "text-one image-one"
    "text-two text-two";
}

.regional-text-one{
    grid-area: text-one;
    margin-left:25px;
    margin-right:20px;
    padding-right: 5px;
    border-right: 1px grey solid;
}

.regional-image-one{
    grid-area: image-one;
    margin-left:25px;
    margin-right:25px;
}

.regional-text-two{
    grid-area: text-two;
    margin-left:25px;
    margin-right:25px;
    margin-top: 25px;
}