.homepage-grid{
    display: grid;
    grid-template-areas:
        "photo text"
        "photo navbar";
    height: 100vh;
    width: 100vw;
    background-color: rgb(235, 231, 231);
}

.photo{
    display: grid;
    grid-area: photo;
    place-items: center;
    border-right: 1px solid;
    border-color: grey;
}

.text{
    grid-area: text;
    display: flex;
	align-items: flex-end;
    justify-content: center;
}

.nav{
    grid-area: navbar;
}