.past-grid{
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "intro"
    "toppings"
    "regional"
    "other"
    "conclusion";
    /* background-color: rgb(235, 231, 231); */
}

.past-nav{
    grid-area: nav;
}

.past-header{
    grid-area: header;
    background-color: rgb(135, 113, 153);
    color: white;
}

.past-intro{
    grid-area: intro;
    font-size: 1.1em;
    text-align: left;
    margin-left:225px;
    margin-right: 225px;
}

.toppings-past{
    grid-area: toppings;
    font-size: 1.1em;
    text-align: left;
    margin-left:200px;
    margin-right: 200px;
}

.regional-past{
    grid-area: regional;
    font-size: 1.1em;
    text-align: left;
    margin-left:200px;
    margin-right: 200px;
}

.other-past{
    grid-area: other;
    font-size: 1.1em;
    text-align: left;
    margin-left:200px;
    margin-right: 200px;
}

.conclusion-past{
    grid-area: conclusion;
    font-size: 1.1em;
    text-align: left;
    margin-top: 25px;
    margin-left:225px;
    margin-right: 225px;
    margin-bottom: 25px;
}

